

.chaptertray-list {
  padding: 2vw;
  box-shadow: 1px 1px 2px grey;
  margin-left: 1vw; 
  background-color:white;
  
}

.chaptertray-title {
  display: flex;
  align-content: flex-start;
  padding: 1px;
  margin: 0;

}

.chaptertray-pereknumber {  
  min-width: 1vw;
  width: 4vw;
  text-align: center;
}

.chaptertray-pereknumber:last-child {
  border-right: 0;
}

.chaptertray-pereknumber{
  box-shadow: 1px 1px .5px #D8D8D8;
}

.chaptertray-pereknumber:hover{
  background-color:#D8D8D8;
}

.chaptertray-pereknumber-link {
  text-decoration: none;
}

.versewrapper {
  display: flex;
  flex-wrap: wrap;
  justified-content:flex-start;
  margin-left: 10px
}
