.chaptertray-containing {
  border: 1px solid black;
  display: flex;
  border: 1px solid black;
  padding:0;
}

.chaptertray-list {
  padding: .5vw
}

.chaptertray-title {
  border: 1px solid black;
  display: flex;
  align-content: flex-start;
  border-bottom: 0;
  padding: 1px;
  margin: 0;
}


.chaptertray-title:last-child {
  border: 1px solid black;
}

.chaptertray-pereknumber {  
  border: 1px solid black;
  min-width: 1vw;
}

.chaptertray-pereknumber:last-child {
  border-right: 1px solid black;
}

.chaptertray-pereknumber:first-child {
  
}

.chaptertray-pereknumber-link {
  padding: 0 10px 0 10px
}

.versewrapper {
  display: flex;
  flex-wrap: wrap;
  justified-content:flex-start;
  margin-left: 10px
}
